
#titulos{
    border-bottom: 2px solid #ddd;
}
a{
    text-decoration: none;
}
.btn{
    background: none;
    border: 1px solid #1d4ed8;
    color: #1d4ed8;
}
.btn:hover{
    color: white;
    background: #1d4ed8;
}
td{
    padding: 10px;
    
}
th{
    text-transform: capitalize;
}
#informacion-escuela{
    margin-bottom: 40px;
}
tr{
    border-bottom: 1px solid #ddd;
}
.col-md-11{
    min-height: 50vh;
    border: 1px solid #555;
    border-radius: 5px;
}
