#encabezado{
    background-color: #79152a;
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  
}

#titulos{
    border-bottom: 2px solid #ddd;
}
a{
    text-decoration: none;
}
.btn{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0px 1px 0px 0px ;
    background: none;
    color: #5eead4;
}
.btn:hover{
    color: #065f46;
    background: none;
}
td{
    padding: 10px;
    
}
th{
    text-transform: capitalize;
}
#informacion-escuela{
    margin-bottom: 40px;
}
tr{
    border-bottom: 1px solid #ddd;
}
.text-capitalize{
    color: #444;
}

table{
    padding: .2rem;
}
@media(max-width:700px){
    table{
        overflow-x: scroll;
        display: block;
    }
}