a:hover{
border-bottom: 1px solid blue;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.col-md-11{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.btn-outline-info{
    color: white;
    border:none !important;
    background: #2dd4bf;
  }
  .btn-outline-info:hover{
    background: #115e59;
    color: white;
  }